# Rust
target/
**/*.rs.bk

# Angular
frontend/node_modules/
frontend/dist/
frontend/.angular/

# Environment
.env
backend/.env

# IDE
.idea/
.vscode/
*.swp
/dev/certs/stars.localhost+3.pem
/dev/certs/stars.localhost+3-key.pem
